@model VA_Patient_Registration_Site.Models.User

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Are you registering as a doctor?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDoc" />Doctor
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
