@model IEnumerable<VA_Patient_Registration_Site.Models.Patient>

@{
    ViewData["Title"] = "Find";
}

    <form asp-controller="Patients" asp-action="Find">
        <h2>Find Patients</h2>

        <p> Last Name:</p>
        <div>
            <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Date of Birth
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pat_fname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pat_lname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="form">
            <a asp-action="Details" asp-controller="Doctor" asp-route-id="4022">Return</a>
        </div>
    </form>